/build/
/edskeject
/edskload
/trac-admin-suid
*.com
*.class
*.dll
*.exe
*.o
*.obj
*.so
*.pyc
*~
*.bak
*.7z
*.dmg
*.deb
*.gz
*.bz2
*.xz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.db
*.sqlite
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.old
