*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

/build/
/edskeject
/edskload
/trac-admin-suid
*.com
*.class
*.dll
*.exe
*.o
*.obj
*~
*.bak
*.7z
*.dmg
*.deb
*.gz
*.bz2
*.xz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.db
*.sqlite
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.old
/.kdev4/
/*.kdev4
/.pybuild/
/venv/
