# 'host-notify-by-xmpp' command definition
define command {
    command_name    host-notify-by-xmpp
    command_line    /usr/lib/nagios/send_xmpp_notification --to '$CONTACTPAGER$'
    }

# 'service-notify-by-xmpp' command definition
define command {
    command_name    service-notify-by-xmpp
    command_line    /usr/lib/nagios/send_xmpp_notification --to '$CONTACTPAGER$'
    }

# 'host-notify-by-xmpp-html' command definition
define command {
    command_name    host-notify-by-xmpp-html
    command_line    /usr/lib/nagios/send_xmpp_notification --to '$CONTACTPAGER$' --html
    }

# 'service-notify-by-xmpp-html' command definition
define command {
    command_name    service-notify-by-xmpp-html
    command_line    /usr/lib/nagios/send_xmpp_notification --to '$CONTACTPAGER$' --html
    }
