/*.debhelper
/*.substvars
/arsoft-crypto/
/arsoft-netconfig/
/arsoft-python/
/arsoft-python-fritzbox/
/arsoft-python-kerberos/
/arsoft-python-nagios/
/arsoft-python-openvpn/
/arsoft-python-trac/
/tmp/
/files
/*.debhelper.log
/arsoft-python-web/
/arsoft-edskmgr/
/arsoft-edskmgr-suid/
/arsoft-python-git/
/arsoft-trac-suid/
/arsoft-onkyo/
/python-*/
/python3-*/
/arsoft-check-mk-checks/
/arsoft-check-mk-plugins/
/python2/
/python3/
/debhelper-build-stamp
