/*.debhelper
/*.substvars
/python-arsoft/
/python-arsoft-crypto/
/python-arsoft-netconfig/
/python-arsoft-fritzbox/
/python-arsoft-kerberos/
/python-arsoft-nagios/
/python-arsoft-openvpn/
/python-arsoft-trac/
/python-arsoft-web/
/python-arsoft-git/
/python3-arsoft/
/tmp/
/files
/*.debhelper.log
/arsoft-edskmgr/
/arsoft-edskmgr-suid/
/arsoft-trac-suid/
/arsoft-onkyo/
