Source: arsoft-python
Section: admin
Priority: optional
Maintainer: Andreas Roth <aroth@arsoft-online.com>
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 8), python (>= 2.7)
X-Python-Version: >=2.7

Package: arsoft-python
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-sleekxmpp, python-daemon
Description: common files for the AR Soft python scripts
 This package includes all common files for the AR Soft python scripts.

Package: arsoft-netconfig
Architecture: all
Depends: arsoft-python, ${python:Depends}, ${misc:Depends}, ${dhcpserver:Depends}
Description: common files for the AR Soft netconfig framework
 This package includes all files of the AR Soft netconfig
 framework and all binaries.

Package: arsoft-crypto
Architecture: all
Depends: arsoft-python, python-openssl, ${python:Depends}, ${misc:Depends}
Description: crypto utility scripts
 Some scripts to help with crypto related tasks.

Package: arsoft-python-fritzbox
Architecture: all
Depends: arsoft-python, python-pynag, ${python:Depends}, ${misc:Depends}
Description: python module to access a AVM FritzBox
 Access the AVM FritzBox using Python and retrieve all kind of information
 from your box.

Package: arsoft-python-openvpn
Architecture: all
Depends: arsoft-python, ${python:Depends}, ${misc:Depends}
Description: python module to access the OpenVPN status files
 Access the OpenVPN status files and analyze the current status of the
 VPN.

Package: arsoft-python-nagios
Architecture: all
Depends: arsoft-python, arsoft-python-fritzbox, python-pynag, python-yaml, arsoft-python-openvpn, 
 ${python:Depends}, ${misc:Depends}
Description: nagios plugin module
 This module includes a wrapper to create nagios plugins and also
 includes ready to use plugins for nagios to monitor an AVM FritzBox
 and an OpenVPN server or client.

Package: arsoft-python-trac
Architecture: all
Depends: arsoft-python, ${python:Depends}, ${misc:Depends}
Description: utilities for trac administration
 Several adminstration helper scripts for trac:
 - convert repository from SVN to GIT
 - convert trac database from SQLite to MySQL

Package: arsoft-python-kerberos
Architecture: all
Depends: arsoft-python, python-pexpect, python-ldap, ${python:Depends}, ${misc:Depends}
Description: python module to access and control a Kerberos environment
 Includes functions to change the kerberos password with a simple function call.

Package: arsoft-python-web
Architecture: all
Depends: arsoft-python, python-django (>= 1.4), python-flup, ${python:Depends}, ${misc:Depends}
Description: base package for Django based web applications
 This package installs all required packages for Django based web applications.

Package: arsoft-edskmgr
Architecture: all
Depends: arsoft-python, ${python:Depends}, ${misc:Depends}
Replaces: edskmgr
Description: external disk management tools
 This package provides scripts and tools to work with external disks.

Package: arsoft-edskmgr-suid
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, arsoft-edskmgr
Replaces: edskmgr-suid
Description: suid helpers for the external disk management tools
 This package suid helpers to allow all users to use the external disk 
 management tools.
